# Ignorar archivos generados en todas las subcarpetas

# IntelliJ/Android Studio
**/.idea/

# Gradle
**/.gradle/
**/build/

# Mono
**/mono_crash.*/

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/

# VS Code
**/.vscode/

# Flutter/Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub/
**/build/
